@charset "UTF-8";

*, html {
  margin: 0%;padding: 0%;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
}

/* Todas as <li> */
li {list-style: none;}

/* Flex */
main, header, section, div, figure,
figcaption, nav, ul, li, footer {display: flex;}


/* Cabeçalho principal <header> */
#cabprincipal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 50px rgba(122, 122, 122, 0.2);
  color: #ac0000;
}

@media screen and (max-width: 1200px) {
  /* Icone do menu */
  .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }
    
    .row1, .row2, .row3 {
      width: 33px;
      height: 5px;
      background-color: #333;
      margin: 2.6px 0;
      transition: 0.4s;
    }
    
    .change .row1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-6px, 6px) ;
    }
    
    .change .row2 {
      opacity: 0;
    }
    
    .change .row3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px);
    }  

    #navprincipal ul {
      display: none;
    }
}

/* Menu de navegação principal <nav> */
#navprincipal {
  flex-direction: row;
}

#navprincipal a {
  display: block;
  color: #ac0000;
  padding: 5px 15px;
  font-size: 16pt;
  font-weight: 600;
  justify-content: center;
  align-items: center;
}

#navprincipal a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav a:link {
  text-decoration: none;
  color: #fff;
}

#navprincipal a:active {
  text-decoration: underline;
}

/* Rodapé principal */
#rodprincipal {
  bottom: 0;
  width: 100%;height: 200px;
  background-color: #000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16pt;
  color: #fff
}

#rodprincipal address {
  margin-top: 0;
}

#rodprincipal p {
  margin: 0;
}
